body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
}
.container span {
  position: relative;
}