:root {
    --color-black: #a6a6a6;
    --color-white: #ececec;
    --color-lightgrey: #d2d2d2;
    --color-darkgrey: #bfbfbf;
    --cell-size: 40px;
    --line-width: 8px;
    --line-height: 2px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--color-white);
}

.pattern {
    width: 480px;
    height: 480px;
    background: repeating-linear-gradient(
            45deg,
            var(--color-black) 0,
            var(--color-black) var(--line-width),
            var(--color-white) var(--line-width),
            var(--color-white) calc(var(--line-width) + var(--cell-size)),
            var(--color-darkgrey) calc(var(--line-width) + var(--cell-size)),
            var(--color-darkgrey) calc(var(--line-width) + var(--cell-size) + var(--line-height)),
            var(--color-lightgrey) calc(var(--line-width) + var(--cell-size) + var(--line-height)),
            var(--color-lightgrey) calc(var(--line-width) + var(--cell-size) + var(--line-height) + var(--cell-size))
    );
}